<h1>About Us</h1>
<br>

<h2>The Jungle Team</h2>
<p>Here at Jungle we only employ the best of the jungle world: pythons, crocodiles, and lots of mosquitoes.</p>

<h2>The Jungle Ethos</h2>
<p> Survival of the fittest! I hope you like humidity and overpriced Stuff. Welcome to the Jungle!</p>